@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scada:ital,wght@0,700;1,400&display=swap');

:root {
    --scada-font: 'Scada', sans-serif;
    --pop-font: 'poppins';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--pop-font);
}

body {
    background-color: #101010;
    height: 100vh;
}


h1 {
    font-family: var(--scada-font);
    background: linear-gradient(to right, #FF0404, #101010 50%);
    padding: 6px 26px;
}

h1 span {
    color: #FF0404;
}

.confirm-menu {
    background-color: #202020;
    width: 500px;
    /* position: absolute;
    left: 300px; */
}

.confirm-menu p {
    font-size: 10px;

}

.form {
    width: 100%;
}

.form input {
    width: 100%;
}

.btn {
    background-color: #FF0404;
    color: #ffffff;
    font-size: 10px;
    padding: 8px 28px;
    border-radius: 4px;
}

.img-container{
  
}